@{
    ViewData["Title"] = "Home";
}

<h1>Welcome to the Home Page!</h1>
<p>This is the home page of the Dr. Sillystringz's Factory application.</p>

<nav>
    <ul>
        <li><a href="/Engineers">Engineers</a></li>
        <li><a href="/Machines">Machines</a></li>
    </ul>
</nav>
