@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome to Dr. Sillystringz's Factory!</h1>
<p>
    This is the homepage of our factory application.
</p>
<p>
    Click the links in the navigation bar to manage engineers and machines.
</p>
